*,
*:after,
*:before {
  margin: 0;
  box-sizing: border-box;
  /* background: #f6f1e7; */
}

html {
  background: #f6f1e7;
}

.App {
  text-align: center;
  background: #f6f1e7;
  min-height: 100vh;
  /* margin: 0; */
  /* margin: 0px !important; */
  /* background-image: url(https://making-the-web.com/sites/default/files/clipart/154843/free-food-pics-154843-7620518.jpg); */
}
.body {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background: #f6f1e7;
  min-height: 100vh;
  /* margin: 0px; */
  /* background: whitesmoke; */
  /* background-image: url(https://making-the-web.com/sites/default/files/clipart/154843/free-food-pics-154843-7620518.jpg); */
}

/* ********** Home Page Styling ************ */

.home-container {
 /* background-color: whitesmoke; */
 width: auto;
 padding-top: 30px;
 padding-bottom: 15px;
}

.home-container-buttons p {
  /* background-color: whitesmoke; */
  margin: 5px;
  font-size: 1.2em;
 }

 .home-button {
  background-color: rgb(49, 3, 3);
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: .3s ease-out;
  border-radius: 20px;
}

.home-linkbutton { 
  background: none;
  border: none;
  color:white;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 1em;
}

.home-button a {
  text-decoration: none;
}

.home-button:hover {
  background-color: green;
}

/* **** RecipeCard styling **** */

.recipeCard-container {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2rem;
  padding: 1.5rem;
}

.recipeCard {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px;
  box-shadow: 0px 1px 5px #555;
  border-radius: 10px;
  background-color: #f6f1e7;
}

.recipeCard-img {
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.5);
  max-width: 100%;
  max-height: 12em;
}

.recipeCard-button {
  background-color: rgb(49, 3, 3);
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: .3s ease-out;
}

.linkbutton { 
  background: none;
  border: none;
  color:white;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  /* padding: 5px 5px; */
  text-decoration: none;
  font-size: 1em;
}

.recipeCard-button a {
  text-decoration: none;
}

.recipeCard-button:hover {
  background-color: green;
}

/* *********** Favorties Card Styling *********** */

.favoritesCard-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2rem;
  padding: 1.5rem;
}

.favoritesCard {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px;
  box-shadow: 0px 1px 5px #555;
  border-radius: 10px;
  background-color: #f6f1e7;
}

.favoritesCard-img {
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.5);
  max-width: 100%;
  max-height: 12em;
}

.favoritesCard-button {
  background-color: rgb(49, 3, 3);
  margin: 2px;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: .3s ease-out;
}

.favorites-linkbutton { 
  background: none;
  border: none;
  color:white;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  /* padding: 5px 5px; */
  text-decoration: none;
  font-size: 1em;
}

.favoritesCard-button a {
  text-decoration: none;
}

.favoritesCard-button:hover {
  background-color: green;
}

/* ********** Footer ************ */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: -40px;
  background-color: rgb(49, 3, 3);
  color: white;
  text-align: center;
}

/* ******* Navbar ******** */

nav {
  max-width: 100%;
  background-color: rgb(49, 3, 3);
  padding-left: 30px;
  padding-right: 10px;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 10px;
}

.logo {
  display: inline-block;
  width: 175px;
  vertical-align: middle;
  color: white;
  font-size: 1.5em;
  padding-top: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding-right: 1px;
  font-size: .85em;
  /* overflow: hidden; */
}

.linkButton { 
  background: none;
  border: none;
  color:white;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 1em;
}

.linkButton:hover {
  background-color: white;
  color: darkgreen;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  background-color: white;
}

.nav-item:hover a {
  color: darkgreen;
}

@media only screen and (max-width : 375px) {
  .logo{ 
    font-size: 1em;
    /* margin:   */
  }
  .nav-links{
    font-size: .6em;
  }
  .search-button{
    width: 60px;
    font-size: 12px;
    height: 25px;
  }
}

/* ********** Search Form *************** */

.search h1, h2, h3, h4 {
  padding: 5px;
}

.search h1 {
  font-size: 2.5em;
}

.search p {
  padding-top: 5px;
  font-size: .9em;
}

.search span {
  font-family: "Paprika",sans-serif; 
  color: #00843c;
}

.search-form-container {
  background: #e1e1e1;
  width: 365px;
  margin: 15px auto;
  background: -webkit-gradient( linear,left top, left bottom, color-stop(0, rgb(243,243,243)), color-stop(1, rgb(225,225,225)));
  background: -moz-linear-gradient( center top, rgb(243,243,243) 0%, rgb(225,225,225) 100%);
  border-radius: 17px;
  box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3);
}

.search-input {
  background: #fafafa; 
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3);
  background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(250,250,250)), color-stop(1, rgb(230,230,230)));
  background: -moz-linear-gradient( center top, rgb(250,250,250) 0%, rgb(230,230,230) 100%);
  border: 0;
  border-bottom: 1px solid #fff;
  border-right: 1px solid rgba(255,255,255,.8);
  font-size: 16px;
  margin: 4px;
  padding: 5px;
  width: 250px;
  border-radius: 17px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  box-shadow: -1px -1px 2px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.2);
  -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.2);
  -moz-box-shadow: -1px -1px 2px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.2);
}

.search-button {
  background: #440907;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgb(79,188,32)), color-stop(0.15, rgb(73,157,34)), color-stop(0.88, rgb(62,135,28)), color-stop(1, rgb(49,114,21)));
  background: -moz-linear-gradient( center top, rgb(79,188,32) 0%, rgb(73,157,34) 15%, rgb(62,135,28) 88%, rgb(49,114,21) 100%);
  border: 0;
  color: #eee;
  cursor: pointer;
  float: right;
  font: 16px 'Raleway', sans-serif;
  font-weight: bold;
  height: 30px;
  margin: 4px 4px 0;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  width: 84px;
  outline: none;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  box-shadow: -1px -1px 1px rgba(255,255,255,.5), 1px 1px 0 rgba(0,0,0,.4);
  -moz-box-shadow: -1px -1px 1px rgba(255,255,255,.5), 1px 1px 0 rgba(0,0,0,.2);
  -webkit-box-shadow: -1px -1px 1px rgba(255,255,255,.5), 1px 1px 0 rgba(0,0,0,.4);
}

.search-button:hover {
  background: #4ea923;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgb(89,222,27)), color-stop(0.15, rgb(83,179,38)), color-stop(0.8, rgb(66,143,27)), color-stop(1, rgb(54,120,22)));
  background: -moz-linear-gradient( center top, rgb(89,222,27) 0%, rgb(83,179,38) 15%, rgb(66,143,27) 80%, rgb(54,120,22) 100%);
}

.search-button:active {
  background: #4ea923;
  background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(89,222,27)), color-stop(0.15, rgb(83,179,38)), color-stop(0.8, rgb(66,143,27)), color-stop(1, rgb(54,120,22)));
  background: -moz-linear-gradient( center bottom, rgb(89,222,27) 0%, rgb(83,179,38) 15%, rgb(66,143,27) 80%, rgb(54,120,22) 100%);
}

@media only screen and (max-width : 375px) {
  .search-form-container{ 
    width: 230px;
    /* margin:   */
  }
  .search-input{
    width: 150px;
    font-size: 12px;
  }
  .search-button{
    width: 60px;
    font-size: 12px;
    height: 25px;
  }
  .search h1 {
    font-size: .8em;
  }
  .search h2 {
    font-size: .6em;
  }
  .search h3 {
    font-size: .5em;
  }
  .search h4 {
    font-size: .1em;
  }
  .search p {
    font-size: .1em;
  }
}

/* ********** Login Form *************** */

.login-container {
  position: relative;
  width: 25%;
  height: auto;
  padding: 10px 25px;
  margin: 10vh auto;
  background: #a06d3e;
  border-radius: 8px;
}

.login-form {
  width: 100%;
  height: 100%;
}

.login-header, .login-user, .login-pass {
  text-align: center;
  display: block;
}

.login-header {
  color: #242323;
  font-weight: bold;
  font-size: 40px;
  margin: 30px auto;
}

.login-user, .login-pass, .login-button {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 30px;
}

.login-user, .login-pass {
  background: #ecf0f1; 
}

.login-button {
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  background: rgb(49, 3, 3);
  transition: background 0.4s ease;
}

.login-signup-button {
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  background: rgb(49, 3, 3);
  transition: background 0.4s ease;
  width: 50%;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 30px;
}

.login-button:hover {
  background: #3570dc;
}

@media only screen and (min-width : 280px) {
  .login-container{ width: 90% }
}

@media only screen and (min-width : 480px) {
  .login-container{ width: 60% }
}

@media only screen and (min-width : 768px) {
  .login-container{ width: 40% }
}

@media only screen and (min-width : 992px) {
  .login-container{ width: 30% }
}

/* h2{ color: #fff; margin-top: 25px; } */

/* ********** Signup Form *************** */

.signup-container {
  position: relative;
  width: 25%;
  height: auto;
  padding: 10px 25px;
  margin: 10vh auto;
  background: #a06d3e;
  border-radius: 8px;
}

.signup-form {
  width: 100%;
  height: 100%;
}

.signup-header, .signup-name, .signup-user, .signup-email, .signup-pass {
  text-align: center;
  display: block;
}

.signup-header {
  color: #242323;
  font-weight: bold;
  font-size: 40px;
  margin: 30px auto;
}

.signup-name, .signup-user, .signup-email, .signup-pass, .signup-button {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 30px;
}

.signup-name, .signup-user, .signup-email, .signup-pass {
  background: #ecf0f1; 
}

.signup-button {
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  background: rgb(49, 3, 3);
  transition: background 0.4s ease;
}

.signup-login-button {
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  background: rgb(49, 3, 3);
  transition: background 0.4s ease;
  width: 50%;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 30px;
}

.signup-button:hover {
  background: #3570dc;
}

@media only screen and (min-width : 280px) {
  .signup-container{ width: 90% }
}

@media only screen and (min-width : 480px) {
  .signup-container{ width: 60% }
}

@media only screen and (min-width : 768px) {
  .signup-container{ width: 40% }
}

@media only screen and (min-width : 992px) {
  .signup-container{ width: 30% }
}

/* h2{ color: #fff; margin-top: 25px; } */

/* *********** ListRecipe Display ***************** */

/* .recipe-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 20px;
  padding: 5px;
  max-width: 100%;
} */

.recipe-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  margin: 20px;
  padding: 5px;
  max-width: 100%;
}

.recipe-ingredients-container {
  /* grid-column: span 2; */
  text-align: left;
  padding: 10px;
}

/* .recipe-ingredients-container {
  grid-column: span 2;
  text-align: left;
  padding: 10px;
} */

.recipe-instructions-container {
  grid-column: span 2;
  text-align: left;
  padding: 10px;
}

.recipe-image-container, .recipe-info-container, .recipe-ingredients-container, .recipe-instructions-container {
  background: #a06d3e;
  border-radius: 8px;
}

.recipe-img{
  margin: 2px;

}

.recipe-button {
  /* display: block; */
  background-color: rgb(49, 3, 3);
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: .3s ease-out;
  border-radius: 8px;
  margin: 2px;
}

.recipe-linkbutton { 
  background: none;
  border: none;
  color:white;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-size: 1em;
}

@media only screen and (max-width : 800px) {
  .recipe-container {
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    max-width: 100%;
  }
  .recipe-instructions-container {
    grid-column: span 1;
  }
  .recipe-img {
    max-width: 100%;
  }
}
